@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    /* background-image: url("./Images/boards.png"); */
    background:linear-gradient(0deg,rgba(255, 255, 255, 0.123),rgba(255, 255, 255, 0.171)),url(./Images/boards.png);

    background-attachment: fixed;
    background-size: cover;
    /* background-position: top; */
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
