.home-navbar{

    display: flex;
    justify-content:space-between;


}

.login{
  
}

.fa-facebook-square{

}

.user-img{

}
.link-container{
    display: flex;
    justify-content: space-around;
}

.nav-link{
    /* background:linear-gradient(0deg,rgba(58, 58, 58, 0.096),rgba(46, 46, 46, 0.096)); */
    border-radius: 25px;
    font-size: 15px;
    color: black;
   font-weight: 600;

}
.nav-link:hover{
    background:linear-gradient(0deg,rgba(61, 61, 61, 0.349),rgba(10, 10, 10, 0.39));
    border-radius: 25px;
    font-size: 15px;
    color: white;
    

}

#testButton {
    max-width: 300px;
    text-align: center;
}

.article-cards-container{
 
}

.title {
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}